#principal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;

}
#principal > form >fieldset{
    
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#principal > form{
    
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#principal > form > fieldset .form-group{
    width: 90%;
    margin-top: 2vh;
}
#principal > form > fieldset> button{
    margin-top: 5vh;
}
#principal > form > button{
    margin-top: 5vh;
}
#principal > form > legend{
    text-align: center;
}
#principal >form > select{
    margin-top: 2vh;
}