<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>   
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="biblioteca/view/css/bootstrap.css">
    <link rel="stylesheet" href="biblioteca/view/css/viewAutor.css">
</head>
<body>
    <form class="row g-3">
        <fieldset>
            <legend>Cadatre aqui </legend>
            <div class="col-md-4">
                <label for="nome" class="form-label">Insira o nome do funcionário</label>
                <input type="text" class="form-control " id="orgao"  >
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha">
            </div>
            <div class="mb-3">
                <label for="cpf" class="form-label">CPF</label>
                <input type="text" class="form-control" id="cpf">
            </div>
            <div class="mb-3">
                <label for="regime" class="form-label">Regime trabalhista</label>
                <input type="text" class="form-control" id="regime">
            </div>
           <div class="col-md-4">
                <label for="telefone" class="form-label"> Telefone principal</label>
                <input type="text" class="form-control " id="telefone">
            </div>
            <div class="mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="telefone" >
            </div>
            <div class="mb-3">
                <label for="cidade" class="form-label">Cidade</label>
                <input type="text" class="form-control" id="cidade" >
            </div>
            <div class="mb-3">                
                <label for="bairro" class="form-label">Bairro</label>
                <input type="text" class="form-control" id="bairro">
            </div>
            <div class="mb-3">
                <label for="logradouro" class="form-label">Logradouro</label>
                <input type="text" class="form-control" id="logradouro">
            </div>

            <div class="mb-3">
                <label for="numero" class="form-label">Numero residencial</label>
                <input type="text" class="form-control" id="numero">
            </div>
            <div class="mb-3">
                <label for="data_nascimento" class="form-label">Data de nascimento</label>
                <input type="date" class="form-control" id="data_nasc" >
            </div>
    papel character 
        <div class="mb-3">
            <label for="nivel_formacao " class="form-label">Nivel de formação </label>
            <input type="text" class="form-control" id="formacao">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Ativo
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              inativo
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Afastado
            </label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>

        </div>
    </form>
</body>
</html>